@import url("https://fonts.googleapis.com/css?family=Days+One|PT+Sans:400,400i,700,700i");
html,footer,header,hgroup,menu,nav,{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}button,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}

/* items in navbar in font als Bolwerk site */
header .nav-item {
  font-family: "Days One"; sans-serif;
}

#headerNavbar .navbar-light .navbar-nav .nav-link
{color:rgba(0,0,0,1)}

#headerNavbar .navbar-light .navbar-nav .nav-link:hover
{color:rgba(11, 114, 169, 1)}

#headerNavbar .dropdown-item:focus, .dropdown-item:hover {
    color: #0B72A9;
    text-decoration: none;
}

#headerNavbar .navbar-light .navbar-nav li.active > a {
    color:rgba(11, 114, 169, 1)
}


/* buttons in font als Bolwerk site */
button,optgroup,select,textarea
{margin:0;font-family:"Days One", sans-serif;font-size:inherit;line-height:inherit}

.btn.btn-primary
{font-family:"Days One", sans-serif; background-color:#0B72A9;border-color:#0B72A9}

.btn.btn-primary:hover
{background-color:#000;border-color:#000}


/* kleur van de link, zelfde als button kleur */
a
{color:#0B72A9;text-decoration:none;background-color:transparent}
a:hover{text-decoration:underline}

