/*styling icoontjes bovenin pagina*/

#keuzeJa{
    color: #63d481;
}

#keuzeMisschien{
    color: #efa625;
    margin-left:5em;
}
#keuzeNee{
    color: #de4846;
    margin-left:5em;
}

/*styling radiobuttons */
input[type="radio"]{
   -webkit-appearance: none;
}

label{
    height: 3rem;
    width: 3rem;
    margin: auto;
    border-radius: .25rem;
    position: relative;
    transition: 0.5s;
    background-color: #ddd;
}

#icoonJa, #icoonMisschien, #icoonNee {
   color: #fff;
 }

.fas {
   font-size: 2rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.beschikbaarheid-cc
{opacity: .9;}

.cc-selector input:checked +.beschikbaarheid-cc.ja{
    background-color: #63d481;
}

.cc-selector input:checked +.beschikbaarheid-cc.misschien{
    background-color: #efa625;
}

.cc-selector input:checked +.beschikbaarheid-cc.nee{
    background-color: #de4846;
}

.beschikbaarheid-cc{
    cursor:pointer;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
}

.beschikbaarheid-cc.ja:hover{
     background-color: #63d481;
}

.beschikbaarheid-cc.misschien:hover{
    background-color: #efa625;
}

.beschikbaarheid-cc.nee:hover{
    background-color: #de4846;
}

.ja{
    background-color: #c0c0c0;
    display: inline-table;
}

.misschien{
    background-color: #c0c0c0;
    display: inline-table;
}

.nee{
    background-color: #c0c0c0;
    display: inline-table;
}