<tbody>

<!-- dit moet het worden, alle voorstellingen waarvoor de ingelogde medewerker is ingepland -->
<c:forEach items="${allePersoonlijkeVoorstellingsTaken}" var="voorstellingstaak"/>
<!-- <c:if test="${voorstellingstaak.medewerkerId == medewerker.medewerkerId}">  -->

<tr>
    <td><c:out value="${voorstellingstaak.voorstellingId.naam}"/></td>
    <td><c:out value="${voorstellingstaak.voorstellingId.datum}"/></td>
    <td><c:out value="${voorstellingstaak.taakId.taakNaam}"/></td>
</tr>
</c:forEach>
</tbody>